<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.brejza.matt.habmodem"
    android:versionCode="6"
    android:versionName="0.6.0 (pre-release)" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />

    <application
        android:allowClearUserData="true"
        android:hardwareAccelerated="false"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Holo" >
        <service android:name=".Dsp_service" />

         <activity
            android:name=".StartActivity"
            android:label="@string/title_activity_start" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity
            android:name=".Map_Activity"
            android:hardwareAccelerated="false"
            android:label="@string/title_activity_map" >
          <!--  <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                  <category android:name="android.intent.category.LAUNCHER" /> 
            </intent-filter> -->
        </activity>
        <activity
            android:name="group.pals.android.lib.ui.filechooser.FileChooserActivity"
            android:configChanges="orientation|screenSize|keyboard|keyboardHidden"
            android:theme="@android:style/Theme.Dialog" />

        <service android:name="group.pals.android.lib.ui.filechooser.services.LocalFileProvider" />

        <activity
            android:name=".StatusScreen"
            android:label="@string/title_activity_status_screen" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.brejza.matt.habmodem.Map_Activity" />
        </activity>
        <activity
            android:name=".FFTActivity"
            android:label="removed" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.brejza.matt.habmodem.Map_Activity" />
        </activity>
        <activity
            android:name=".Preferences_activity"
            android:label="@string/title_activity_prefs" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.brejza.matt.habmodem.Map_Activity" />
        </activity>
       
    </application>

</manifest>